<ul class="list-unstyled clearfix question-outer">

  <%@questions.each do  |question| %>

      <li data-id="<%=question.id%>" class="question clearfix <%= question.vote_count.to_i.zero? ? "c_light-gray" :"c_dark-gray" %>">
        <span class="col-xs-2 text-center">
          <a class="vote-up" href="javascript:void(0)" question_id="<%=question.id%>">
            <span class="arrow">vote up</span></a><br>
          <span class="vote-count c_light-gray"><%=question.vote_count%> <%="vote".pluralize(question.vote_count)%></span>
        </span>

        <h3 class="col-xs-9 question-text"><%=question.description%></h3>
          <%if current_user%>
              <i class="col-xs-1 glyphicon glyphicon-remove pull-right text-danger remove-question" data-id="<%=question.id%>" style="margin-right: 10px;"></i>
          <%end%>
      </li>
  <%end%>
  <%if @questions.length.zero?%>
      <li class="question clearfix c_dark-gray empty">
        <h3>
          No questions have been asked yet. Go ahead and ask one.</h3>
      </li>
  <%end%>
</ul>
