
<div class="question-index">
<div class="question-form">
<%= form_for @question,:html => { :class => "form-horizontal event_session" ,'data-parsley-validate'=>''} do |f| %>
    <div class="form-group search-box">
      <div class="col-xs-9 field-container">
        <%= f.text_field :description,:placeholder=>'Ask a question...', :class => 'form-control search-field' ,'data-parsley-required'=>'','data-parsley-trigger'=>'change','data-parsley-min-length'=>6%>
      </div>
      <div>
        <%= submit_tag 'Ask', :class => 'btn btn-primary btn-lg submit-btn purple-submit' %>
      </div>
    </div>
<% end %>
</div>
<ul class="list-unstyled clearfix question-outer">

  <%@questions.each do  |question| %>

      <li data-id="<%=question.id%>" class="question clearfix <%= question.vote_count.to_i.zero? ? "c_light-gray" :"c_dark-gray" %>">
        <span class="col-xs-2 text-center">
          <a class="vote-up" href="javascript:void(0)" question_id="<%=question.id%>">
            <span class="arrow">vote up</span></a><br>
          <span class="vote-count c_light-gray"><%=question.vote_count%> votes</span>
        </span>
        <h3 class="col-xs-10 question-text"><%=question.description%></h3>
      </li>
  <%end%>
  <%if @questions.length.zero?%>
  <li class="question clearfix c_dark-gray empty">
<h3>
No questions have been asked yet. Go ahead and ask one.</h3>
  </li>
  <%end%>
</ul>

</div>


<script type="text/javascript">
  $(function(){
    $('.vote-up').click(function(){

     var parent=$(this).parents('.question');

     if(Cookies.get('q_a_'+$(parent).data().id) ==undefined) {
      Cookies.set('q_a_'+$(parent).data().id, 'done', { expires: 365 }); 
      $.ajax({url:['/questions/',$(this).attr('question_id'),'/vote_up'].join('')
      });
      set_count(this);
    }else {

    }
    });
  });

  function  get_count(elem){
      return parseInt($(elem).parents('.question').find('.vote-count').text());
    }
    function  set_count(elem){
      var parent=$(elem).parents('.question');
      Cookies.set('q_a_'+$(parent).data().id, 'done', { expires: 365 });
      parent.find('.vote-count').text(get_count(elem)+1+ ' votes');
      $(parent).removeClass('c_light-gray').addClass('c_dark-gray');
       if(get_count(elem) > get_count(parent.prev().find('a'))){
         parent.prev().hasClass('question') ? $(parent).slideUp(function(){
         $(this).insertBefore($(this).prev()).fadeIn();
         }) : '';
         
       } else {
              $(parent).css('opacity','0.6');
              $(parent).animate({opacity:1.0},800);
       }


    }

</script>

