<%@event_session=@user%>
<%= form_for @user , :html => { :class => "form-horizontal event_session" ,'data-parsley-validate'=>''} do |f| %>
  <% if @event_session.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event_session.errors.count, "error") %> prohibited this event_session from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <div class="form-group">
      <div class="col-lg-10">
        <%= f.label 'First Name', :class => 'control-label' %>
        <%= f.text_field :first_name, :class => 'form-control'%>
      </div>
    </div>

   <div class="form-group">
      <div class="col-lg-10">
        <%= f.label 'Last Name', :class => 'control-label' %>
        <%= f.text_field :last_name, :class => 'form-control'%>
      </div>
    </div>

  <div class="form-group">
      <div class="col-lg-10">
        <%= f.label 'Email', :class => 'control-label' %>
        <%= f.text_field :email, :class => 'form-control' ,'data-parsley-required'=>'','data-parsley-trigger'=>'change','data-parsley-type'=>"email"%>
      </div>
    </div>
  <div class="form-group">
      <div class="col-lg-10">
        <%= f.label 'Password', :class => 'control-label' %>
        <%= f.password_field :password, :class => 'form-control' ,'data-parsley-required'=>"#{@user.new_record?}",'data-parsley-trigger'=>'change','data-parsley-min-length'=>6%>
      </div>
    </div>
  <div class="actions">
    <%= f.submit 'Create' ,:class=>'btn btn-primary event-create'%>
  </div>
<% end %>


